@model IEnumerable<ZrakForum.DataAccess.Entities.Forum>
@{
    ViewBag.Title = "Početna";
}

@if (!User.Identity.IsAuthenticated)
{
    <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
        Pregledate forum kao gost. Gosti foruma imaju veoma ograničen pristup sadržajima foruma.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="text-light bg-dark p-2">Spisak foruma</div>
<table class="table table-striped table-hover">
    <tbody>
        @foreach (var forum in Model)
        {
            <tr>
                <td>@Html.ActionLink(forum.Name, "Show", "Forum", new { forumName = Server.UrlEncode(forum.Name) }, new { @class = "navbar-brand" })</td>
            </tr>
        }
    </tbody>
</table>