@model IEnumerable<ZrakForum.DataAccess.Entities.Forum>
@{
    ViewBag.Title = "Početna";
}

<div class="text-light bg-dark p-2">Spisak foruma</div>
<table class="table table-striped table-hover">
    <tbody>
        @foreach (var forum in Model)
        {
            <tr>
                <td>@Html.ActionLink(forum.Name, "Details", "Forum", new { id = forum.Id }, new { @class = "navbar-brand" })</td>
            </tr>
        }
    </tbody>
</table>