@model ZrakForum.DataAccess.Entities.Forum

@{
    ViewBag.Title = "Index";
}


@if (Model == null)
{
    <h2 class="text-dark">Traženi forum ne postoji</h2>
}
else
{
    if (Model.Threads == null)
    {
        <h2 class="text-dark">Neuspešno učitavanje foruma. Molimo pokušajte kasnije</h2>
    }
    else
    {
        if (!Model.Threads.Any())
        {
            <h2 class="text-dark">Trenutno nema tema na ovom forumu</h2>
        }
        else
        {
            @Html.ActionLink("Nova tema", "Create", "Thread", new { onForum = Server.UrlEncode(Model.Name) }, new { @class = "btn btn-dark mb-2 float-right" })

            <table class="table table-striped table-hover">
                <thead class="bg-dark text-light">
                    <tr>
                        <th scope="col" style="width: 80%">Tema</th>
                        <th scope="col" style="width: 20%">Pokrenuo</th>
                    </tr>
                </thead>

                @foreach (var item in Model.Threads)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(item.Name, "Show", "Forum", new { threadName = Server.UrlEncode(item.Name) }, new { @class = "text-dark font-italic font-weight-bold" })
                        </td>
                        <td>
                            @if (item.Author != null)
                            {
                                <span>@item.Author.Username</span>
                                <br />
                                <span>@item.CreatedAt.ToString("dd. MM. yyyy. HH:mm")h</span>
                            }
                            else
                            {
                                @:Neuspelo učitavanje informacija o temi
                            }
                        </td>
                    </tr>
                }
            </table>
        }
    }
}



