@model ZrakForum.DataAccess.Entities.Thread

@{
    ViewBag.Title = "Show";
}

@if (Model != null)
{
    if (Model.Posts == null)
    {
        <h2>Neuspelo učitavanje komentara za ovu temu</h2>
    }
    else
    {
        <table class="table table-hover table-striped table-bordered">
            @foreach (var item in Model.Posts)
            {
                <tr>
                    <td>
                        <span>@item.Author.Username</span>
                        <br />
                        <span>@item.CreatedAt.ToString("dd. MM. yyyy. HH:mm")h</span>
                    </td>
                    <td>@item.Content</td>
                </tr>
            }
        </table>
    }
}
else
{
    <h2>Nema teme sa tim nazivom</h2>
}